<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeLorean</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <form id="userForm">
        <textarea id="userinput" name="userinput" rows="12">Back to the Future 1
Back to the Future 2
Back to the Future 3</textarea>
        <!-- <input type="button" class="button" id="generate" value="Generate Movie List"> -->
        <input type="button" class="button" id="submit" value="checkout">
        <div id="result"></div>
    </form>
    <script src="../javascript/checkout.js"></script>
</body>
</html>
